/* CSS FONT FROM GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --grey : #292e31ff;
  --white : #ffffff;
  --darkgrey : rgb(68, 68, 68);
  --lightgrey:rgb(75, 75, 75);
  --bg-grey : #dfe1ee;
  --red :#DD4343;
  --light-black:#464646;
  --bg-black:#1c1d1fff;
}

body {
  color: black !important;
  font-family: 'Poppins';
  height: 100vh;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #A7213B #DFE9EB;
} */

/* Chrome, Edge and Safari */
/* *::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ed3237ff
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ed3237ff
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(153, 28, 32);
} */

/* SECTION FORMAT */
#login {
  text-align: left;
  width: 100%;
  min-height: 100vh !important;
}

#mainlayout{
  padding:10px;
  padding-right: 0px !important;
  background-color: var(--white) !important;
}

#mainbar{
  background-color: var(--white);
  height: fit-content;
  border-radius: 30px;
  padding: 28px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#mainbar h6{
  color: var(--grey);
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

#mainbar p{
  color: var(--bg-black);
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

#login h3{
  font-weight: 600;
}

#content-bar{
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: var(--grey);
}

/* VALIDATE PAGE */
#validate{
  width:100%;
  height: 100vh;
  padding-top:120px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 20px;
  background-color: #ed3338ff;
  color: white;
}

#sidebar{
  height: auto;
  background-color: var(--bg-black);
  padding-top: 30px;
  width: 75px;
  border-radius: 50px;
}

#section-main{
  background-color: var(--bg-grey);
  max-width: 100% !important;
}

.validateIcon{
  height:150px !important;
  width:130px !important;
}

/* FADE TRANSITION */

.fade-transition {
  opacity: 0;
  visibility: visible;
  transition: opacity 500ms ease;
}

.fade-transition.visible {
  opacity: 1;
  visibility: visible;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #dedede;
  margin-top: 9px;
}

.p-line{
  font-size: 11px !important;
  margin: 0;
  padding: 0;
  color: #6e6e6e;
  font-weight: 500;
}

.line-btn{
  background-color: white;
  border: 1px solid #dedede;
  color:black;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 10px;
}

.line-btn-2{
  background-color: #ed3237ff;
  border: 1px solid white;
  color:white;
  margin-right: 10px;
  border: none;
}

.line-btn-2:hover{
  background-color: white;
  color: #ed3237ff;
  border: 1px solid #ed3237ff;
}

.line-btn:hover{
  background-color: white;
  color: black;
  border: 1px solid #6e6e6e;
}

.padding-login{
  padding: 90px;
}
.colored-icons{
  width: 18px !important;
}


.form-custom{
  font-size: 14px;
  border-color: #dedede !important;
  box-shadow: none !important;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: none;
}

.form-label{
  font-size: 15px;
  color: var(--lightgrey) !important;
}

.form-dropdown{
  width: 100% !important;
  font-size: 15px;
}

.icon-form{
  background-color: white;
  border-right: none;
  padding-right: 0;
}

.forgot-text{
  font-size: 14px;
  color: #ed3237ff !important;
  font-weight: 500;
}

.forgot-text:hover{
  font-weight: 600;
}

.btn-submit{
  background-color: #ed3237ff;
  width: 100%;
  border: none;
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn-submit:hover{
  background-color: rgb(218, 39, 45);
}

.btn-submit:active{
  background-color: rgb(141, 0, 5) !important;
}

.btn-white{
  background-color: rgb(255, 255, 255);
  width:auto;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 200px;
  padding-right: 200px;
  color: #ed3237ff;
}

.btn-white:hover{
  background-color: rgb(245, 245, 245);
  color: #ed3237ff;
}

.text-create p{
  font-size: 14px;
}

.color-create{
  color: #ed3237ff;
}

.login-side{
  background-color: #ed3237ff;
  text-align: center;
  justify-items: center;
  min-height: 100vh !important;
}

.logo-telkom{
  width: 120px;
}

.carousel-indicators {
  top:550px;
}

.fade-transition {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-transition.visible {
  opacity: 1;
}


/* SIDEBAR STYLING */
.sidebar-nav{
  width: 100%;
  background-color: transparent !important;
  padding-top: 1px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin-bottom: 25px;
  color: white !important;
  font-size: 25px;
  text-align: center;
}

.sidebar-nav img{
  width: 25px;
}

.sidebar-nav:hover{
  background-color: var(--lightgrey) !important;
}


.sidebar-nav.active{
  background-color: var(--grey) !important;
}

#dashboard-content h5{
  color: var(--light-black);
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#dashboard-content p{
  color: var(--lightgrey);
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.card-dashboard{
  width: 100%;
  height: fit-content;
  min-height: 150px;
  padding: 25px;
  border-radius: 20px;
  background: white;
  color: var(--grey);
}

.card-shadow-1{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-shadow-2{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-dashboard h6{
  font-weight: 600;
}

.card-dashboard h4{
  font-weight: 600;
  margin: 0;
  padding:0;
}

.search-form{
  font-size: 14px;
  background-color: var(--bg-grey);
  border: none;
}

.logout{
  margin-top: 50px;
}

.circle-profile{
  width: 35px;
  border-radius: 50%;
  background-color: white;
  border: none;
  margin-left: 10px;
}

.circle-profile img{
  border-radius: 50%;
  width: 100%;
}

.card-date{
  width: 100%;
  height: fit-content;
  min-height: 220px;
  background-color: var(--bg-grey) !important;
  border-radius: 20px;
}

.calendar-header{
  font-size: 15px;
  font-weight:600 ;
  font-family: 'Poppins';
}


.title-mainbar h6{
  font-weight: 600 !important;
  color: var(--bg-black) !important;
}

.task-schedule { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  h2 {
    margin: 0;
  font-weight: 300 !important;
}
  h6 {
    margin: 0;
    font-weight: 600 !important;
  }
  p{
    font-weight: 400 !important;
    color: var(--grey);
  }
}


.container-task{
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  transition: all ease 200ms;
}

.container-task:hover{
  background-color: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.custom-dropdown-toggle{
  background-color: var(--white)!important;
  padding-left: 0;
  color: var(--bg-black);
  font-size: 12px;
  border: none;
}
.custom-dropdown-toggle:hover{
  color: black !important;
}

.custom-dropdown-menu{
  background-color: var(--white)!important;
  color: var(--bg-black);
  font-size: 12px;
  border: none;
}

